%h2 Create New Assignment

%form{:class => "form-horizontal"}
    %div{:class =>"control-group"}
        %label{:class => 'control-label', :for => "assignment"}Assignment
        %div{:class => "controls"}
            %input{:type => "text", :id => "inputEmail", :placeholder => "Email"}
    %div{:class => "control-group"}
        = label :assignment, :title, 'Title'
        = text_field :assignment, :title
        = label :dueDate, :title, 'Due date'
        = text_field :dueDate, :title
        = submit_tag 'Save Changes'
    =link_to "Back to Home Page", assignments_path()